// ./assets/scss/styles.scss
@tailwind base;
@tailwind components;

///////////// body loading animation /////////////
@keyframes fadeIn_Ani {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes spread_Ani {
  from {
    margin: 100%;
    width: 300%;
  }

  to {
    width: 100%;
  }
}

body {
  animation-duration: 1s;
  animation-name: fadeIn_Ani;
}

.ani-spread {
  animation-duration: 1s;
  animation-name: spread_Ani;
}

///////// Layout /////////////
html {
  background-color: #000000;
}
.body {
  @apply text-white h-full flex justify-center items-start;
}

.container {
  @apply w-full h-full flex flex-col p-10;
}

// @media screen and (min-width: 500px) {
//   .container {
//     @apply w-500px;
//   }
// }

///////////// position /////////////
.w-414px {
  width: 414px;
}
.h-736px {
  height: 736px;
}
.w-375px {
  width: 375px;
}
.h-667px {
  height: 667px;
}
.h-1436px {
  height: 1436px;
}

.left-29px {
  left: 29px;
}
.bottom-21px {
  bottom: 21px;
}
.bottom-178px {
  bottom: 178px;
}
.left-95px {
  left: 95px;
}
.top-240px {
  top: 240px;
}
.right-74px {
  right: 74px;
}
.text-20pt {
  font-size: 25px;
}
.text-18px {
  font-size: 18px;
}

///////////// intro, final button /////////////
.move-bt {
  @apply bg-white mt-10 w-full h-16 text-black rounded-sm flex justify-center items-center;
  //transform motion-safe:hover:-translate-y-1 motion-safe:hover:scale-110 transition ease-in-out duration-300
}

.move-bt:hover {
  @apply bg-gray-600;
}

///////////// progress bar /////////////
.progress_bar {
  @apply bg-black w-full h-1 flex justify-start rounded-lg;
}

.progress {
  @apply bg-orange h-full rounded-lg;
}

///////////// testSheet button /////////////
.slectorStyle {
  @apply text-left mt-3;
}

.slectorStyle:hover {
}

///////////// loder /////////////
#loader {
  margin-top: auto;
  margin-bottom: auto;
  text-align: center;
  color: #fff;
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 3px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top-color: #fff;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

@tailwind utilities;
