// ./assets/scss/styles.scss
@tailwind base;
@tailwind components;

///////////// body loading animation /////////////
@keyframes fadeIn_Ani {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes spread_Ani {
  from {
    margin: 100%;
    width: 300%;
  }

  to {
    width: 100%;
  }
}

body {
  animation-duration: 1s;
  animation-name: fadeIn_Ani;
}

.ani-spread {
  animation-duration: 1s;
  animation-name: spread_Ani;
}

///////// Layout /////////////
html {
  background-color: #1c1c35;
}
.body {
  @apply text-white h-full flex justify-center items-start;
}

.container {
  @apply w-full h-full flex flex-col p-10;
}

.header {
  @apply flex flex-row justify-between p-6 text-xs;
}

// @media screen and (min-width: 500px) {
//   .container {
//     @apply w-500px;
//   }
// }

///////////// position /////////////
.w-414px {
  width: 414px;
}
.h-736px {
  height: 736px;
}
.w-375px {
  width: 375px;
}
.h-667px {
  height: 667px;
}
.h-1300px {
  height: 1300px;
}
.mt-1000px {
  margin-top: 1000px;
}
.w-286px {
  width: 286px;
}
.h-48px {
  height: 48px;
}

.left-29px {
  left: 29px;
}
.bottom-21px {
  bottom: 21px;
}
.bottom-178px {
  bottom: 178px;
}
.left-95px {
  left: 95px;
}
.top-240px {
  top: 240px;
}
.right-74px {
  right: 74px;
}
.text-20pt {
  font-size: 25px;
}
.text-18px {
  font-size: 18px;
}

///////////// intro, final button /////////////
.move-bt {
  @apply bg-white mt-10 w-full h-16 text-black rounded-sm flex justify-center items-center;
  //transform motion-safe:hover:-translate-y-1 motion-safe:hover:scale-110 transition ease-in-out duration-300
}

.move-bt:hover {
  @apply bg-gray-600;
}

///////////// progress bar /////////////
.progress_bar {
  @apply bg-black w-full h-1 flex justify-start rounded-lg;
}

.progress {
  @apply bg-orange h-full rounded-lg;
}

///////////// testSheet button /////////////
.slectorStyle {
  @apply text-left mt-3;
}

.slectorStyle:hover {
}

///////////// loder /////////////
path {
  fill: #cfceca;
  /* fill: #f26431; */
}
.pupil {
  fill: #f26431;
}
#loader {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #1c1c35;
  z-index: 99;
  -webkit-animation: offscreen 0.5s 15s forwards;
  animation: offscreen 0.5s 15s forwards;
}
.face {
  width: 270px;
  height: 270px;
}
/*
----------------------------------------------
SVG 
----------------------------------------------
*/
.head {
  transform-origin: 135px 135px;
  transform: scale(0);
  -webkit-animation: popup 0.6s 1s cubic-bezier(0.95, 0.05, 0.795, 0.035)
    forwards;
  animation: popup 0.6s 1s cubic-bezier(0.95, 0.05, 0.795, 0.035) forwards;
}
#eyeLeft,
#eyeRight {
  transform: scale(0);
}
#eyeLeft {
  transform-origin: 66px 127px;
  -webkit-animation: popup 0.5s 1.2s cubic-bezier(0.95, 0.05, 0.795, 0.035)
    forwards;
  animation: popup 0.5s 1.2s cubic-bezier(0.95, 0.05, 0.795, 0.035) forwards;
}
#eyeRight {
  transform-origin: 203px 127px;
  -webkit-animation: popup 0.5s 1.25s cubic-bezier(0.95, 0.05, 0.795, 0.035)
    forwards;
  animation: popup 0.5s 1.25s cubic-bezier(0.95, 0.05, 0.795, 0.035) forwards;
}
.eyeLeft {
  transform-origin: 66px 127px;
  -webkit-animation: downup 12.1s 1.6s cubic-bezier(0.44, 0, 0.01, 0.99)
    forwards;
  animation: downup 12.1s 1.6s cubic-bezier(0.44, 0, 0.01, 0.99) forwards;
}
.eyeRight {
  transform-origin: 203px 127px;
  -webkit-animation: downup 12.1s 1.6s cubic-bezier(0.44, 0, 0.01, 0.99)
    forwards;
  animation: downup 12.1s 1.6s cubic-bezier(0.44, 0, 0.01, 0.99) forwards;
}
.eyeLeft > .pupil {
  transform-origin: 66px 127px;
  -webkit-animation: follow 12.1s 1.6s forwards;
  animation: follow 12.1s 1.6s forwards;
}
.eyeRight > .pupil {
  transform-origin: 203px 127px;
  -webkit-animation: follow 12.1s 1.6s forwards;
  animation: follow 12.1s 1.6s forwards;
}
.closedLeft {
  transform-origin: 66px 127px;
  -webkit-animation: blink 12.1s 1.6s cubic-bezier(0.44, 0, 0.01, 0.99) forwards;
  animation: blink 12.1s 1.6s cubic-bezier(0.44, 0, 0.01, 0.99) forwards;
}
.closedRight {
  transform-origin: 203px 127px;
  -webkit-animation: blink 12.1s 1.6s cubic-bezier(0.44, 0, 0.01, 0.99) forwards;
  animation: blink 12.1s 1.6s cubic-bezier(0.44, 0, 0.01, 0.99) forwards;
}
.mouth {
  transform-origin: 135px 233px;
  -webkit-animation: mouth 12.1s 1.6s cubic-bezier(0.44, 0, 0.01, 0.99) forwards;
  animation: mouth 12.1s 1.6s cubic-bezier(0.44, 0, 0.01, 0.99) forwards;
}
.bar {
  transform-origin: 135px 233px;
  transform: scale(0);
  -webkit-animation: patient 12.8s 1s ease-in forwards;
  animation: patient 12.8s 1s ease-in forwards;
}
.smile {
  transform-origin: 135px 233px;
  transform: scale(0);
  -webkit-animation: happy 12.9s 1s ease-in forwards;
  animation: happy 12.9s 1s ease-in forwards;
}
/*
----------------------------------------------
LOADING BAR 
----------------------------------------------
*/
.loading-bar {
  position: relative;
  margin-top: 4rem;
  width: 250px;
  background: #c1c0bc;
}
.loading-bar:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  background: #f26431;
  -webkit-animation: load 12.4s 1s forwards;
  animation: load 12.4s 1s forwards;
}
.loading-bar,
.loading-bar:before {
  height: 4px;
  border-radius: 5px;
}
/*
----------------------------------------------
ANIMATIONS
----------------------------------------------
*/
@keyframes popup {
  0% {
    transform: scale(0);
  }
  80% {
    transform: scale(1);
  }
  90% {
    transform: scale(0.75);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes downup {
  0% {
    transform: translateY(0);
  }
  15% {
    transform: translateY(40px);
  }
  50% {
    opacity: 1;
  }
  50.7% {
    opacity: 0;
  }
  51.4% {
    opacity: 1;
  }
  98% {
    transform: translateY(40px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes mouth {
  0% {
    transform: translateY(-20px);
  }
  15% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes blink {
  0% {
    transform: translateY(0);
  }
  15% {
    transform: translateY(40px);
  }
  50% {
    opacity: 1;
  }
  98% {
    transform: translateY(40px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes follow {
  0% {
    transform: translate(0, 0);
  }
  15% {
    transform: translate(-4px, 8px);
  }
  95.5% {
    transform: translate(-2px, 10px);
  }
  98% {
    transform: translate(8px, 10px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes patient {
  0% {
    transform: scale(0);
  }
  3% {
    transform: scale(0);
  }
  3.5% {
    transform: scale(1);
  }
  4% {
    transform: scale(0.75);
  }
  4.5% {
    transform: scale(1);
  }
  99% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes happy {
  0% {
    transform: scale(0);
  }
  98% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes load {
  0% {
    width: 0;
  }
  97% {
    width: 50px;
  }
  100% {
    width: 250px;
  }
}
@keyframes offscreen {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-200%);
  }
}
@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@tailwind utilities;
