.bg1 {
  background-image: url("../../images/TestPage/1.svg");
}
.bg2 {
  background-image: url("../../images/TestPage/2.svg");
}
.bg3 {
  background-image: url("../../images/TestPage/3.svg");
}
.bg4 {
  background-image: url("../../images/TestPage/4.svg");
}
.bg5 {
  background-image: url("../../images/TestPage/5.svg");
}
.bg6 {
  background-image: url("../../images/TestPage/6.svg");
}
.bg7 {
  background-image: url("../../images/TestPage/7.svg");
}
.bg8 {
  background-image: url("../../images/TestPage/8.svg");
}
/* .bg9 {
  background-image: url("../../images/TestPage/9.svg");
}
.bg10 {
  background-image: url("../../images/TestPage/10.svg");
} */
